<div class="container">
  <div class="div"  style="width: 100%; background-color: aqua;">
    <h2 class="nivel-title">Título de Nivel 1.1</h2>
    <p class="explicacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error adipisci optio nesciunt eos animi ad doloribus ipsa eius, magni voluptates iure neque dicta corporis! Labore vitae saepe veritatis placeat voluptatibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aut minima, facilis consequatur, provident illum tempora unde eum maxime ratione id libero aspernatur omnis culpa quidem maiores, dolorum non velit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro sunt assumenda cupiditate ex molestiae eaque velit non aspernatur ab eveniet, dolores voluptate et eius accusantium, reiciendis exercitationem aut dignissimos necessitatibus.</p>
  
  </div>
</div>