<div class="container">
  <div class="div" style="width: 100%">
    <div class="container mt-4">
      <h2 class="text-center">Nivel 1.2</h2>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
        dolore possimus ipsam officiis cumque illo itaque, veniam, beatae
        aspernatur odio nihil! Rerum iste porro at excepturi animi debitis
        molestias quidem!Lorem Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Beatae magni odio culpa ratione assumenda eum, quasi
        maxime, quam fuga non totam natus sequi tempora ab maiores ullam
        delectus distinctio sit!
        <br />
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, nulla
        expedita adipisci iste magnam perspiciatis maxime quod, eos tempora
        voluptates architecto necessitatibus natus aspernatur sequi facilis
        fugiat ex odio repellendus.
        <br />
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio inventore
        assumenda sed. Exercitationem dolor necessitatibus sequi eos quia velit
        harum voluptas sint cumque amet iure iusto, aut, nostrum quas magnam!

        <br />
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim molestias
        nostrum eveniet dolores sapiente officia harum obcaecati iste unde,
        accusamus officiis blanditiis, in, suscipit commodi nemo temporibus
        distinctio aliquid aspernatur?
      </p>
    </div>
  </div>
</div>
